* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container-app {
  width: 100vw;
  height: 100vh;
  background-color: #191622;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 80%;
  background-color: #272a37;
  border-radius: 2rem;
}

.container-app .container {
  padding: 3rem;
  width: 80%;
  height: 80%;
}

.container-app .container .header-top ul {
  display: flex;
}

.container-app .container .header-top ul li {
  list-style: none;
  color: #4c66dd;
  font-size: 1.5rem;
  font-weight: 700;
}

.container-app .container main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-app .container main input {
  padding: 20px 10px;
  border-radius: 2rem;
  width: 300px;
  background-color: #191622;
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.container-app .container main button {
  padding: 20px 10px;
  border-radius: 2rem;
  width: 300px;
  background-color: #191622;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.2rem;
  font-family: 'Inter';
}

.container-app .container main button:hover {
  background-color: #4c66dd;
  transition: 1s;
}

.container-app .container main .form h1 {
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.container-app .container main .content {
  display: flex;
}

.container-app .container main .content div {
  display: flex;
  padding: 3rem;
  width: 620px;
  height: 430px;
  background-color: #191622;
  border-radius: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-top: -67px;
}

input::placeholder {
  font-weight: 100;
}

.container-app .container main .content div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #4c66dd;
}

.container-app .container main .content div h1 {
  color: #fff;
  font-size: 23px;
  font-weight: 100;
  margin-top: 2rem;
}

.container-app .container main .content div .avatar-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 0;
  border: 4px solid #4c66dd;
  margin-left: 0;
}

.container-app .container main .content div p {
  color: #ffffffa6;
  font-size: 20px;
  font-weight: 100;
  margin-top: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 a {
  color: #4c66dd;
  font-style: normal;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
}

h1 a:hover {
  color: #272a37;
}

/*   |RESPONSIVE   */

@media (max-width: 767px) {
  .container-app .container main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-app .container main .content div {
    padding: 3rem;
    width: 200px;
    height: 230px;
    border-radius: 2rem;
    margin-left: 2px;
    margin-top: 30px;
  }

  .container-app .container .header-top ul li {
    margin-right: 5rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: -10px;
  }

  .container-app .container main button {
    padding: 13px 10px;
    border-radius: 2rem;
    width: 200px;
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: -0.5rem;
    font-family: 'Inter';
  }

  .container-app .container main input {
    padding: 13px 10px;
    border-radius: 2rem;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .container-app .container main .form h1 {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
  }

  .container-app .container main .content div img {
    width: 70px;
    height: 70px;
  }

  .container-app .container main .content div h1 {
    font-size: 17px;
    font-weight: 100;
    margin-top: 1rem;
  }

  .container-app .container main .content div p {
    font-size: 14px;
    font-weight: thin;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 a {
    font-weight: 100;
    font-size: 14px;
  }

  h1 a:hover {
    color: #272a37;
  }

  .container-app .container main .content div .avatar-placeholder {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1247px) {
  .container {
    width: 40%;
    height: 80%;
    border-radius: 2rem;
  }

  .container-app .container {
    padding: 3rem;
    width: 40%;
    height: 80%;
  }

  .container-app .container main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-app .container main .content div {
    padding: 3rem;
    width: 350px;
    height: 200px;
    border-radius: 2rem;
    margin-left: 2px;
    margin-top: 30px;
  }

  .container-app .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-app .container .header-top {
    text-align: center;
  }

  .container-app .container .header-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .container-app .container .header-top ul li {
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -10px;
    text-align: left;
  }

  .container-app .container main button {
    padding: 13px 10px;
    width: 300px;
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: -0.5rem;
    font-family: 'Inter';
  }

  .container-app .container main input {
    padding: 13px 10px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .container-app .container main .form h1 {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
  }

  .container-app .container main .content div img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .container-app .container main .content div h1 {
    font-size: 17px;
    font-weight: 100;
    margin-top: 1rem;
  }

  .container-app .container main .content div p {
    font-size: 14px;
    font-weight: thin;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 a {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
  }

  h1 a:hover {
    color: #272a37;
  }

  .container-app .container main .content div .avatar-placeholder {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 983px) {
  .container {
    width: 60%;
    height: 80%;
    border-radius: 2rem;
  }

  .container-app .container {
    padding: 3rem;
    width: 60%;
    height: 80%;
  }
}

@media (max-width: 644px) {
  .container {
    width: 80%;
    height: 80%;
    border-radius: 2rem;
  }

  .container-app .container {
    padding: 3rem;
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 428px) {
  .container {
    width: 80%;
    height: 80%;
  }

  .container-app .container {
    width: 80%;
    height: 80%;
    background-color: #191622;
  }

  .container-app .container main .content div {
    width: 320px;
    height: 290px;
    background-color: #272a37;
  }

  .container-app .container main button {
    width: 300px;
    background-color: #272a37;
    outline: none;
  }

  .container-app .container main input {
    width: 300px;
    background-color: #272a37;
    outline: none;
  }

  .container-app .container .header-top ul li {
    font-size: 1.6rem;
    margin-left: 70px;
    position: absolute;
    text-align: center;
    margin-bottom: 40px;
  }

  .container-app .container main .form h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    font-family: 'Inter';
    text-align: center;
  }

  br {
    display: none;
  }
}
